table {
    border-collapse: collapse;
  }
 
  table, th, td {
    border: 2px solid black;
    padding: 2px;
    user-select: none;
  }
 
  td {
    background-color:paleturquoise;
    padding: 5px
  }